body{
    margin: 0;
}
*{
    font-family: Inknut Antiqua;
    font-weight: 400;
}
header{
    display: flex;
    background: #FFD2FC;
}
#logo{
    align-content: center;
}
#logo img{
    width: 400px;
    height: 324px;
}
#header-content{
    width:80%;
}
#header-searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-top: 40px;
}
#header-searchbar input{
    width: 400px;
    border: 0;
}
#header-searchbar input:focus{
    outline: none;
}
nav{
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 55px;
    font-size: 30px;
}
nav ul a{
    text-decoration: none;
    color: black;
}
#header-title{
    display: flex;
    justify-content: center; 
}
#header-title h2{
    border-bottom: solid 3px white;
    width: fit-content;
    margin: 0;
}
#header-subtitle{
    text-align: end;
}
#header-subtitle h2{
    margin: 0px 30px 0px 0px;
}
main{
    display:flex;
    justify-content: space-around;
}
#main-catalog{
    display: flex;
    flex-direction: column;
}
#brownie-tradicional, #brownie-especial{
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}
.promo-brownie{
    display: flex;
    background-color: #FFD2FC;
    width: fit-content;
    border-radius: 20px;
    text-decoration: none;
}
.promo-brownie p{
    color: black;
}
.promo-content{
    display: flex;
    gap: 20px;
    padding: 12px;
}
.promo-left > p{
    margin: 0;
}
.promo-left h2{
    font-size: 60px;
    margin: 0;
    color: #BB40B6;
    line-height: 20px;
}
.promo-left span p{
    line-height: 20px;
    margin: 30px 0px 0px
}
.promo-right h2{
    margin: 0;
    color: #BB40B6;
    line-height: 40px;
}
.promo-img{
    margin: 60px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
.promo-img > p{
    margin: 0;
    line-height: 20px;
    font-size: 18px;
    text-align: end;
}
.promo-right span p{
    margin: 0;
    line-height: 20px;
    text-align: end;
    font-size: 12px;
}
.promo-img{
    position: relative;
}
.promo-img img{
    position: absolute;
    width: 120px;
    height: 120px;
}